@charset "utf-8";
body {
        background:#181A1B;
      }
      
.b2 {
    font:bold 40px tahoma;
    color:#fff;
    text-align:center;
      }

.logo{
    width:13%;
    margin:5% 0 0 44%;
}

.youtubelink{
    font:bold 20px tahoma;
    text-align:center;
}
        .vakit {
            vertical-align:middle;
            font-family:Arial;
            font-size:40px;
            font-weight:normal;
            color:#FFF;
            padding:0 10px;
        }
       .saat {
           vertical-align: middle;
           font-family:Arial;
           font-size:20px;
           font-weight:normal;
           color:#FFF;
        }
        .zemin {
            background-color:#000;
            max-width:220px;
            width:100%;
            margin: 0 auto;
            padding:20px;
        }